<h1>Count Your Words</h1>
<form action="/word_count">
  <div class="form-group">
    <label for="string_input">Enter a sentence:</label>
    <input type="text" name="string_input" id="string_input" class="form-control">
    <label for="argument_input">Enter one word from your sentence that you would like to count:</label>
    <input type="text" name="argument_input" id="argument_input" class="form-control">
  </div>
  <button type="submit" class="btn btn-info">COUNT MY WORD!</button>
</form>
