<!DOCTYPE html>
<html>
  <head>
    <title>Count Your Words</title>
    <link rel='stylesheet' href='/bootstrap.css'>
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <script src="/jquery-3.1.1.js"></script>
    <script src="/scripts.js"></script>
  </head>
  <body>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
